/* style.css */
@font-face {
	font-family: 'Lakesight';
	src: url('../fonts/Lakesight.eot?') format('eot'), 
	     url('../fonts/Lakesight.woff') format('woff'), 
	     url('../fonts/Lakesight.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: url("../images/general/Beer-background-lightened.png");
  background-repeat: no-repeat;
}

.logo {
  max-width: 60%;
}

#footer{
  padding-left: 15px;
  font-size: 0.75em;
  text-align:center;
  color: #ccc;
  clear:both;
}

.social-icon{
  width: 5%;
}


.lakesightFont{
  font-family: "Lakesight", cursive, serif !important;
  color: black;
}

input{
  margin-left: 10px;
}

.hp{
  display: none;
}

input[type=email]{
	max-width: 50%;
	border-radius: 50px;
	border-style: none;
  font-family: cursive, serif;
}

input[type=submit]{
	border-radius: 5px;
	border-style: none;
}

@media screen and (max-width: 1200px){
  .logo{
    max-width: 70%;
  }
}

@media screen and (max-width: 991px){
  .logo{
    max-width: 100%;
  }
  .social-icon{
  width: 20%;
  }
}